{% load static %}

<!DOCTYPE html>
<html lang="ru" data-theme="dark" class="exo_2_dc0b9d49-module__XRtiTa__variable rubik_4fa6d1c-module__DQKhhG__variable" style="--scroll-progress: 0;">
   <head>
      <meta http-equiv="content-type" content="text/html; charset=UTF-8">
      <link rel="stylesheet" href="{% static 'assets/css/4843c8b9e11cf13e.css' %}" nonce="" data-precedence="next">


      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <title>404: This page could not be found.</title>
      <title>OPENOLD</title>
      <meta name="description" content="Активация / Продление или покупка готового аккаунта с подпиской">
      <link rel="manifest" href="https://openold.ai/manifest.webmanifest">
      <meta name="robots" content="noindex, nofollow">
      <link rel="icon" href="https://openold.ai/favicon.ico?favicon.4833ab7d.ico" sizes="48x48" type="image/x-icon">
      <link rel="icon" href="https://openold.ai/icon.png?icon.5b9f3a60.png" sizes="256x256" type="image/png">
      <link rel="apple-touch-icon" href="https://openold.ai/apple-icon.png?apple-icon.b7281a5f.png" sizes="180x180" type="image/png">
      <meta name="next-size-adjust" content="">
      <meta name="robots" content="noindex">
   </head>
   <body>
      <div hidden=""></div>
      <div style="font-family: system-ui, &quot;Segoe UI&quot;, Roboto, Helvetica, Arial, sans-serif, &quot;Apple Color Emoji&quot;, &quot;Segoe UI Emoji&quot;; height: 100vh; text-align: center; display: flex; flex-direction: column; align-items: center; justify-content: center;">
         <div>
            <style>body{color:#000;background:#fff;margin:0}.next-error-h1{border-right:1px solid rgba(0,0,0,.3)}@media (prefers-color-scheme:dark){body{color:#fff;background:#000}.next-error-h1{border-right:1px solid rgba(255,255,255,.3)}}</style>
            <h1 class="next-error-h1" style="display: inline-block; margin: 0px 20px 0px 0px; padding: 0px 23px 0px 0px; font-size: 24px; font-weight: 500; vertical-align: top; line-height: 49px;">404</h1>
            <div style="display: inline-block;">
               <h2 style="font-size: 14px; font-weight: 400; line-height: 49px; margin: 0px;">This page could not be found.</h2>
            </div>
         </div>
      </div>
      <div class="digiseller-chat-module__e3MhwG__widget"><button type="button" class="digiseller-chat-module__e3MhwG__launcher" aria-haspopup="dialog" aria-expanded="false" aria-controls="digisellerChatPanel" aria-label="Открыть чат поддержки"><span class="digiseller-chat-module__e3MhwG__launcherIcon" aria-hidden="true"></span><span class="digiseller-chat-module__e3MhwG__launcherTooltip" aria-hidden="true">Поддержка</span></button></div>
      <next-route-announcer style="position: absolute;"></next-route-announcer>
   </body>
</html>
